<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Easy Leetcode</title>
    <style>
         button{
            background-color: #F8F8F8;
            min-height: 40px;
            min-width: 60px;
        }

    </style>
</head>
<body>
<h1 align="center"> {[message]} </h1>
<br/>
<div align="center">
    <button><a href="/view" target="_blank"> View</a></button>
    <button><a href="/addview" target="_blank"> Add</a></button>
    <button><a href="/about" target="_blank"> About</a></button>
    <button><a href="/help" target="_blank"> Help</a></button>
    <button><a href="https://github.com/425776024/easy_leetcode" target="_blank">Github</a></button>
    <pre style="font-size: 25px;">
    Hello Python 程序员//Hello Python programmer
    你可以用它//You can use it
    成为轻松刷Leetcode的大神//Become the God of leetcode
    你可以用它//You can use it
    在线运行你的任意Python代码//Run your arbitrary Python code online
    你可以用它//You can use it
    给你的任意Python代码做Markdwon笔记//Take markdwon notes for any Python code you want
    它运行非常流畅//It runs very smoothly
    为刷Leetcode而生！//Born to brush leetcode!
    它永远免费！//It's free forever
</pre>
    <H6>Maker：425776024@qq.com</H6>
</div>

</body>
</html>