include easyleetcode/web/*.py
include easyleetcode/web/static/*.css
include easyleetcode/web/static/*.js
include easyleetcode/web/static/*.html
include easyleetcode/web/templates/*.html
include easyleetcode/*.py
include easyleetcode/leetcodes/*.py
include easyleetcode/leetcodes_md/*.md
include easyleetcode/leetcodes_youtube/*.txt
include easyleetcode/leetcodes_b/*.txt
include easyleetcode/logs/*.txt
include imgs/*.png